.App {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form input {
  max-width: 300px;
}

.cards {
  display: flex;
}

.cards div {
  border: 2px solid black;
  padding: 20px;
  border-radius: 10px;
}